{% extends "block.html.twig" %}
{% set attributes = attributes.addClass('block-slack-messages') %}
{% block content %}
    {% if content is empty %}
        {% trans %}
        There are no messages.
        {% endtrans %}
    {% endif %}
{% for key, value in content %}
    <div class="message {{ key }}">
      <div class="user_image"><img src= "{{ value.image }}" /></div>
      <div class="username">{{ value.user }}</div>
      <div class="time">{{ value.time }}</div>
      <div class="message">{{ value.text }}</div>
    </div>
{% endfor %}
{% endblock %}

